# Exploratory Data Analysis en el mercado cripto.

In [1]:
# import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.set()

%matplotlib inline

# Tamaño de las figuras
sns.set(rc={"figure.figsize": (18,9)})

# Autocompletar más rápido
%config Completer.use_jedi = False

# Mostrar solo dos decimales en pandas
pd.options.display.float_format = "{:.2f}".format

sns.set_style('whitegrid')

### Lo primero que vamos a hacer es conjuntar los datos de binance con lo que podamos de coingecko.

In [45]:
cg_btc = pd.read_csv('CoinGecko/data/btc.csv')
cg_btc['Fecha'] = pd.to_datetime(cg_btc.Fecha)
cg_btc['BTC_Volumen'] = cg_btc.Volumen / cg_btc.Precios
cg_btc.columns = ['Fecha','Precios','USD_Volumen','BTC_Volumen']
# cg_ada = pd.read_csv('CoinGecko/data/ada.csv')
# cg_bnb = pd.read_csv('CoinGecko/data/bnb.csv')
# cg_doge = pd.read_csv('CoinGecko/data/doge.csv')
# cg_dot = pd.read_csv('CoinGecko/data/dot.csv')
# cg_eth = pd.read_csv('CoinGecko/data/eth.csv')
# cg_ltc = pd.read_csv('CoinGecko/data/ltc.csv')
# cg_matic = pd.read_csv('CoinGecko/data/matic.csv')
# cg_shib = pd.read_csv('CoinGecko/data/shib.csv')
# cg_sol = pd.read_csv('CoinGecko/data/sol.csv')
# cg_trx = pd.read_csv('CoinGecko/data/trx.csv')
# cg_xrp = pd.read_csv('CoinGecko/data/xrp.csv')

bn_btc = pd.read_csv('Binance/data/by1d/btcusdt.csv')
bn_btc['Fecha'] = pd.to_datetime(bn_btc.Fecha)
# bn_ada = pd.read_csv('Binance/data/by1d/adausdt.csv')
# bn_bnb = pd.read_csv('Binance/data/by1d/bnbusdt.csv')
# bn_doge = pd.read_csv('Binance/data/by1d/dogeusdt.csv')
# bn_dot = pd.read_csv('Binance/data/by1d/dotusdt.csv')
# bn_eth = pd.read_csv('Binance/data/by1d/ethusdt.csv')
# bn_ltc = pd.read_csv('Binance/data/by1d/ltcusdt.csv')
# bn_matic = pd.read_csv('Binance/data/by1d/maticusdt.csv')
# bn_shib = pd.read_csv('Binance/data/by1d/shibusdt.csv')
# bn_sol = pd.read_csv('Binance/data/by1d/solusdt.csv')
# bn_trx = pd.read_csv('Binance/data/by1d/trxusdt.csv')
# bn_xrp = pd.read_csv('Binance/data/by1d/xrpusdt.csv')

bn_btc

          Fecha     Abre     Alto     Bajo   Cierra  BTC_Volumen  USDT_Volumen
0    2017-08-17  4261.48  4485.39  4200.74  4285.08       795.15    3454770.05
1    2017-08-18  4285.08  4371.52  3938.77  4108.37      1199.89    5086958.31
2    2017-08-19  4108.37  4184.69  3850.00  4139.98       381.31    1549483.74
3    2017-08-20  4120.98  4211.08  4032.62  4086.29       467.08    1930364.39
4    2017-08-21  4069.13  4119.62  3911.79  4016.00       691.74    2797231.71
...         ...      ...      ...      ...      ...          ...           ...
2188 2023-08-14 29303.85 29695.32 29102.45 29430.93     31443.12  924613476.68
2189 2023-08-15 29430.92 29499.26 29059.60 29200.00     27503.88  806683957.31
2190 2023-08-16 29200.01 29259.85 28723.08 28730.51     32996.70  959870747.01
2191 2023-08-17 28730.51 28783.48 25166.00 26623.41    100271.54 2755821274.34
2192 2023-08-18 26623.41 26832.60 25619.00 26051.88     69744.24 1833010500.45

[2193 rows x 7 columns]

In [39]:
cg_btc

                   Fecha  Precios   USDT_Volumen  BTC_Volumen
0    2013-04-29 00:00:00   141.96           0.00         0.00
1    2013-04-30 00:00:00   135.30           0.00         0.00
2    2013-05-01 00:00:00   117.00           0.00         0.00
3    2013-05-02 00:00:00   103.43           0.00         0.00
4    2013-05-03 00:00:00    91.01           0.00         0.00
...                  ...      ...            ...          ...
3758 2023-08-15 00:00:00 29400.59 12408355477.11    422044.48
3759 2023-08-16 00:00:00 29170.49 11523395158.00    395036.05
3760 2023-08-17 00:00:00 28754.20 14809979642.37    515054.54
3761 2023-08-18 00:00:00 26501.59 29965585683.42   1130709.09
3762 2023-08-18 01:52:49 26603.83 32362974844.23   1216478.25

[3763 rows x 4 columns]

In [40]:
# pd.to_datetime(cg_btc.Fecha)
# type(cg_btc.Fecha[0]), type(bn_btc.Fecha[0])
cg_btc.Fecha[-2:-1].item() == bn_btc.Fecha[-1:].item()

True

In [56]:
cg_btc

                   Fecha  Precios    USD_Volumen  BTC_Volumen
0    2013-04-29 00:00:00   141.96           0.00         0.00
1    2013-04-30 00:00:00   135.30           0.00         0.00
2    2013-05-01 00:00:00   117.00           0.00         0.00
3    2013-05-02 00:00:00   103.43           0.00         0.00
4    2013-05-03 00:00:00    91.01           0.00         0.00
...                  ...      ...            ...          ...
3758 2023-08-15 00:00:00 29400.59 12408355477.11    422044.48
3759 2023-08-16 00:00:00 29170.49 11523395158.00    395036.05
3760 2023-08-17 00:00:00 28754.20 14809979642.37    515054.54
3761 2023-08-18 00:00:00 26501.59 29965585683.42   1130709.09
3762 2023-08-18 01:52:49 26603.83 32362974844.23   1216478.25

[3763 rows x 4 columns]

In [59]:
cg_btc[cg_btc.BTC_Volumen > 0].head()

         Fecha  Precios  USD_Volumen  BTC_Volumen
241 2013-12-27   734.27  62881800.00     85638.53
242 2013-12-28   738.81  28121600.00     38063.37
243 2013-12-29   726.47  27018300.00     37191.21
244 2013-12-30   760.52  24717100.00     32500.26
245 2013-12-31   755.16  21903500.00     29005.11

In [58]:
cg_btc[cg_btc.USD_Volumen > 0].head()

         Fecha  Precios  USD_Volumen  BTC_Volumen
241 2013-12-27   734.27  62881800.00     85638.53
242 2013-12-28   738.81  28121600.00     38063.37
243 2013-12-29   726.47  27018300.00     37191.21
244 2013-12-30   760.52  24717100.00     32500.26
245 2013-12-31   755.16  21903500.00     29005.11

### Inconsistencias con los datos de volumen?

Lo que sucede es que coingecko rastrea el volúmen de transacción en, a la fecha de hoy, 821 intercambios a nivel mundial. De todos esos intercambios, rastrea todo el volumen de bitcoin a través de todos los pares de cada intercambio.

Es debido a ello que la cantidad en volumen difiera con la de binance, ya que binance solo nos entrega el volumen que ellos procesan, además, no estamos contabilizando el volumen total a través de todos los pares de binance, sino solo a través del par BTCUSDT. Si deseamos algo más acercado a la realidad del exchange binance y su participación total relativa al volumen total de btc en los 821 intercambios de coingecko, deberíamos sumar el volumen de btc de cada par listado en binance.

In [61]:
df = bn_btc[['Fecha','Cierra','BTC_Volumen','USDT_Volumen']]
df.columns = ['Fecha','Precios','BTC_Volumen','USDT_Volumen']
df = df.merge(cg_btc,suffixes=('_bn','_cg'),how='left',on='Fecha')
# df.sort_values(by='USDT_Volumen')
df

,Fecha,Precios_bn,BTC_Volumen_bn,USDT_Volumen,Precios_cg,USD_Volumen,BTC_Volumen_cg
0,2017-08-17,4285.08,795.15,3454770.05,4286.92,1774245121.03,413874.34
1,2017-08-18,4108.37,1199.89,5086958.31,4097.69,1515069151.86,369737.76
2,2017-08-19,4139.98,381.31,1549483.74,4115.21,1710080500.02,415551.01
3,2017-08-20,4086.29,467.08,1930364.39,4001.23,551798951.97,137907.38
4,2017-08-21,4016.00,691.74,2797231.71,3935.23,712634899.40,181091.04
...,...,...,...,...,...,...,...
2188,2023-08-14,29430.93,31443.12,924613476.68,29284.97,4755220448.63,162377.51
2189,2023-08-15,29200.00,27503.88,806683957.31,29400.59,12408355477.11,422044.48
2190,2023-08-16,28730.51,32996.70,959870747.01,29170.49,11523395158.00,395036.05
2191,2023-08-17,26623.41,100271.54,2755821274.34,28754.20,14809979642.37,515054.54
2192,2023-08-18,26051.88,69744.24,1833010500.45,26501.59,29965585683.42,1130709.09

### Primera conclusión.

Podemos concluir que, para un análisis más acertado, tenemos los siguientes puntos:

    * Debido a que coingecko no es un exchange, debemos utilizar los precios de exchanges, ya que es ahí donde haremos la operación, no en coingecko.

    * Sería más apropiado agregar a nuestro análisis, al menos los principales exchanges para verificar diferencias de precios entre los mismos. Incluso esta estrategia podría identificar diferencias de precios lo suficientemente buenas como para hacer trading entre exchanges mediante transferencias de XRP, aunque esto último son casos excepcionales. En un sentido más técnico, las variaciones de precio entre exchanges, así como sus variaciones en volumen, podrían aportar datos relevantes por medio de un análisis de IA.

    * Considerando los dos puntos anteriores, se concluye que es una buena combinación utilizar el precio del exchange para un determinado par, como BTCUSDT, pero el volumen general indicado por coingecko. Ya que si bien el precio del exchange es el importante para las operaciones, el valor del volumen total nos da más información sobre tendencias del mercado en general, y como sabemos que es el mercado en general el que mueve el precio de BTC y no solo el mercado interno de binance, tiene sentido utilizar el volumen del mercado para obtener más información en vez de limitarse a la información de un solo exchange.

Al respecto de lo último, no sé si la combinación del volumen de binance junto con el general, aporte algo de valor en el análisis, por lo que dejaremos de lado esta columna. Así como también dejaremos de lado agregar datos de otros intercambios, nos limitaremos a coingecko y binance en lo que podamos hacer coincidir sus datos.

También vamos a prescindir de la columna de Precios_cg.

In [52]:
df.columns

Index(['Fecha', 'Precios_bn', 'BTC_Volumen_bn', 'USDT_Volumen', 'Precios_cg',
       'USD_Volumen', 'BTC_Volumen_cg'],
      dtype='object')

In [62]:
df = df[['Fecha','Precios_bn','USD_Volumen','BTC_Volumen_cg']]
df.columns = ['Fecha','Precios_bn','total_USD_Volumen_cg','total_BTC_Volumen_cg']
df

          Fecha  Precios_bn  total_USD_Volumen_cg  total_BTC_Volumen_cg
0    2017-08-17     4285.08         1774245121.03             413874.34
1    2017-08-18     4108.37         1515069151.86             369737.76
2    2017-08-19     4139.98         1710080500.02             415551.01
3    2017-08-20     4086.29          551798951.97             137907.38
4    2017-08-21     4016.00          712634899.40             181091.04
...         ...         ...                   ...                   ...
2188 2023-08-14    29430.93         4755220448.63             162377.51
2189 2023-08-15    29200.00        12408355477.11             422044.48
2190 2023-08-16    28730.51        11523395158.00             395036.05
2191 2023-08-17    26623.41        14809979642.37             515054.54
2192 2023-08-18    26051.88        29965585683.42            1130709.09

[2193 rows x 4 columns]

In [ ]:
Revisemos primero una perspectiva